@model PontoMap.ViewModel.RegistrarViewModel
@{
    ViewBag.Title = "Registrar";
}

@Styles.Render("~/bundles/customCss")

<div class="row formContainer" style="background-color: #e4e4e4;">
    <div class="main-login main-center">
        <h3 class="text-center">Cadastre-se</h3>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()


            <div class="form-group">
                @Html.LabelFor(m => m.Empresa.DsCnpj)
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Empresa.DsCnpj, new { @class = "form-control cnpj" })
                </div>
                @Html.ValidationMessageFor(m => m.Empresa.DsCnpj, "", new { @class = "text-danger text-center col-md-12" })
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Empresa.NmFantasia)
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-registered" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Empresa.NmFantasia, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Empresa.NmFantasia, "", new { @class = "text-danger text-center col-md-12" })
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Empresa.DsRazaoSocial)
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-registered" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Empresa.DsRazaoSocial, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Empresa.DsRazaoSocial, "", new { @class = "text-danger text-center col-md-12" })
            </div>

            <hr />
            <br /><h4 class="text-center">Dados do responsável.</h4>

            <div class="form-group">
                @Html.LabelFor(m => m.Usuario.NmUsuario)
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Usuario.NmUsuario, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Usuario.NmUsuario, "", new { @class = "text-danger text-center col-md-12" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Usuario.DtNascimento)
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Usuario.DtNascimento, new { @class = "form-control data" })
                </div>
                @Html.ValidationMessageFor(m => m.Usuario.DtNascimento, "", new { @class = "text-danger text-center col-md-12", @id = "DtNascimentoValidationMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Usuario.DsEmail)
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Usuario.DsEmail, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Usuario.DsEmail, "", new { @class = "text-danger text-center col-md-12" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Usuario.CdCpf)
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Usuario.CdCpf, new { @class = "form-control cpf" })
                </div>
                @Html.ValidationMessageFor(m => m.Usuario.CdCpf, "", new { @class = "text-danger text-center col-md-12" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Usuario.DsCelular)
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Usuario.DsCelular, new { @class = "form-control cel" })
                </div>
                @Html.ValidationMessageFor(m => m.Usuario.DsCelular, "", new { @class = "text-danger text-center col-md-12" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger text-center col-md-12" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger text-center col-md-12" })
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Registrar" class="btn btn-primary btn-lg btn-block login-button center-block" />
                <span class="label label-danger text-left">@Html.ActionLink("Voltar", "Index", "Home")</span>
            </div>

        }
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


